{% extends "collec_management/menu.html" %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}La liste de collections{% endblock %}
{% block content %}
	<h1>Liste des collections</h1>
    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Description</th>
                <th>Suppression</th>
                <th>Modifier</th>

            </tr>
        </thead>
        <tbody>
            {% for collec in collections %}
            <tr>
                <td>{{ collec.title }}</td>
                <td>{{ collec.date }}</td>
                <td><a href="{% url 'collection_detail' collec.id %}">Voir la fiche</a></td>
                <td><a href="{% url 'delete' collec.id %}">Supprimer</a></td>
                <td><a href="{% url 'change' collec.id %}">Modifier</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock%}