{% extends 'collec_management/bootstrap5.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}Bienvenue dans notre application{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
			<ul class="nav nav-pills">

				<li class="nav-item">
					<a class="nav-link" href="{% url 'all' %}">Les collections</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'new' %}">Créer</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">&Agrave; propos</a>
				</li>

			</ul>
		</nav>
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}